<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICasos" />
                <binding name="BasicHttpBinding_IContactos" />
                <binding name="BasicHttpBinding_IUtentes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62717/Casos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICasos" contract="Casos.ICasos"
                name="BasicHttpBinding_ICasos" />
            <endpoint address="http://localhost:62717/Contactos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IContactos" contract="Contactos.IContactos"
                name="BasicHttpBinding_IContactos" />
            <endpoint address="http://localhost:62717/Utentes.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUtentes" contract="Utentes.IUtentes"
                name="BasicHttpBinding_IUtentes" />
        </client>
    </system.serviceModel>
</configuration>